.button-group-img {
}

.button-group-container {
  position: absolute;
  left: 82.5rem;
  bottom: 6rem;
}

.gray,
.blue {
  height: 5rem;
  width: 5rem;

  border-radius: 1rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.gray {
  margin-bottom: 1rem;
  border: 1px solid gray;
}

.blue {
  border: 1px solid #323f96;
}
