#slider {
  height: 824px;
}

#slider-wrapper {
  width: 66%;
  position: relative;
  overflow: hidden;
}

.top,
.bottom {
  position: relative;
}

.top {
  width: 111.7vw;
  right: 42rem;
}

.bottom {
  right: 18rem;
  width: 95rem;
}

.slide {
  padding: 0.4rem;
  border-radius: 1rem;
}
